<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.joshuasnider.ecc.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anagram</servlet-name>
        <servlet-class>com.joshuasnider.ecc.AnagramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>palindrome</servlet-name>
        <servlet-class>com.joshuasnider.ecc.PalindromeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fib</servlet-name>
        <servlet-class>com.joshuasnider.ecc.FibServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fizz</servlet-name>
        <servlet-class>com.joshuasnider.ecc.FizzBuzzServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prime</servlet-name>
        <servlet-class>com.joshuasnider.ecc.PrimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>factors</servlet-name>
        <servlet-class>com.joshuasnider.ecc.FactorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sexyprime</servlet-name>
        <servlet-class>com.joshuasnider.ecc.SexyPrimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sqsum</servlet-name>
        <servlet-class>com.joshuasnider.ecc.SquareSumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>triplets</servlet-name>
        <servlet-class>com.joshuasnider.ecc.TripletServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>convertroman</servlet-name>
        <servlet-class>com.joshuasnider.ecc.ConvertRomanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anagram</servlet-name>
        <url-pattern>/anagram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fib</servlet-name>
        <url-pattern>/fib</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fizz</servlet-name>
        <url-pattern>/fizz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prime</servlet-name>
        <url-pattern>/prime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>convertroman</servlet-name>
        <url-pattern>/convertroman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>factors</servlet-name>
        <url-pattern>/factors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>triplets</servlet-name>
        <url-pattern>/triplets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sexyprime</servlet-name>
        <url-pattern>/sexyprime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sqsum</servlet-name>
        <url-pattern>/sqsum</url-pattern>
    </servlet-mapping>
</web-app>
